$black700: #0b0b0b;
$black900: #050505;
$white50: #f2f2f2;
$grey100: #aeaeae;

.home-page {
  background-color: $black700;
  color: $white50;
}

.about-page {
  background-color: $black700;
  color: $white50;
}

.news-page {
  background-color: $black700;
}

.contact-page {
  background-color: $black700;
}

.career-page .top-navigation {
  color: $black700;
}

.career-page {
  background-color: $white50;
  color: $black700;
}

// Homepage CSS Section //
#hero-image {
  height: 70vh;
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  #hero-image {
    height: 40vh;
  }
}

.cursor-custom {
  cursor: url(../images//cursor.svg), auto;
}

.button-active {
  text-decoration: underline;
}

.button-unactive {
  color: $grey100;
}

.custom-link {
  text-decoration: underline;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 0; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 0;
}
